translator/backend/resources/nmt_data/train.tok.clean.bpe.32000.en filter=lfs diff=lfs merge=lfs -text
translator/backend/resources/nmt_data/train.tok.clean.bpe.32000.hi filter=lfs diff=lfs merge=lfs -text
translator/backend/resources/nmt_model/translate.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
