.trans-toolbar {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap-reverse;
  /*justify-content: space-between;*/
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 4px 0px;
}
.trans-toolbar .action-button {
  background: none repeat scroll 0px 0px transparent;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-sizing: border-box;

  color: #616161;
  position: relative;
  min-width: 64px;
  padding: 0px 8px;
  margin: 4px 8px 4px 8px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  letter-spacing: 0px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.trans-toolbar .action-button::-moz-focus-inner {
    border: 0;
}
.trans-toolbar .action-button > * {
  vertical-align: middle;
}
.trans-toolbar .action-button svg {
  fill: #616161 !important;
  width: 20px;
  height: 20px;
}
.trans-toolbar .action-button.help svg {
  height: inherit !important;
}
.trans-toolbar .action-button.help {
  border: medium none !important;
  min-width: inherit;
}
.trans-toolbar .action-button:hover {
  color: #1a73e8;
}
.trans-toolbar .action-button:focus {
  border: 1px solid #4d90fe;
  color: #1a73e8;
}
.trans-toolbar .action-button:hover svg,
.trans-toolbar .action-button:focus svg {
  fill: #1a73e8 !important;
}
.trans-toolbar .action-button.selected {
  background-color: rgba(66,133,244,0.12);
  color: #1a73e8;
  border: 1px solid #d2e3fc;
}
.trans-toolbar .action-button.selected svg {
  fill: #1a73e8 !important;
}
.trans-toolbar .action-button__text {
  margin-left: 4px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap;
}
.row.r2l {
    flex-direction: row-reverse;
}
.row.fill {
	justify-content: space-between;
}
.row.center {
	justify-content: center;
}

.ita-ppe-box {
    position: absolute;
    display: block;
    background-color: white;
    color: black;
    cursor: move;
    border: 1px solid #cdcdcd;
    padding: 6px;
    font-size: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    z-index: 2147483644;
    text-align: justify;
    overflow: hidden;
}
.ita-ppe-edit {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: inherit;
    background-color: inherit;
    padding: 0 0 6px 0;
    outline: none;
    border: none;
    white-space: nowrap;
    font-family: Arial,Sans-serif;
    cursor: text;
}
.ita-ppe-can, .ita-ppe-ant, .ita-ppe-can,
.ita-ppe-can-list, .ita-ppe-tbl, .ita-ppe-td,
.ita-ppe-div, .ita-ppe-uds {
    font-size: inherit;
    text-align: inherit;
    background-color: inherit;
}
.ita-ppe-uds {
    /*border-bottom: solid 2px;*/
    margin: 0 1px;
}
.ita-ppe-div {
    white-space: nowrap;
}
.ita-ppe-can-list {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    margin: 6px 0 0 0;
    padding: 0;
}
.ita-ppe-can {
    margin: 4px;
    padding: 2px;
    line-height: 16px;
    height: 18px;
}
.ita-ppe-hlt {
    color: #222;
    background-color: #f1f1f1;
}
.ita-ppe-cur {
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: #54bdf0;
    overflow: hidden;
    text-decoration: blink;
    float: none;
}
