{% load static %}
<form method="post">

<table border="0" align="center" width="90%" cellpadding="1" cellspacing="1">
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>From:</b></td>
  <td bgcolor="#D3DAE3">
    <table border="0" cellpadding="0" cellspacing="1">
    <tr>
      <td><select name="from"  accesskey="F">
<option value="&quot;athakur&quot; &lt;athakur@cdot.in&gt;">&quot;athakur&quot; &lt;athakur@cdot.in&gt;</option>
</select>&nbsp;&nbsp;</td>
      <td><b>Priority:</b></td>
      <td><select name="priority" >
<option value="urgent">Urgent</option>
<option selected="selected" value="normal">Normal</option>
<option value="non-urgent">Non-Urgent</option>
</select></td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>To:</b></td>
  <td bgcolor="#D3DAE3"><input type="text" name="to"  size="66" accesskey="T" />
 <a href="javascript:GoAddressWindow()" title="Address book"><IMG SRC="/data/openwebmail/images/iconsets/Cool3D.English/addrbook.s.gif" border="0" align="absmiddle" alt="Address book"></a></td>
</tr>
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>CC:</b></td>
  <td bgcolor="#D3DAE3"><input type="text" name="cc"  size="66" accesskey="C" /></td>
</tr>
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>BCC:</b></td>
  <td bgcolor="#D3DAE3"><input type="text" name="bcc"  size="66" /></td>
</tr>
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>Reply-To:</b></td>
  <td bgcolor="#D3DAE3">
    <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><input type="text" name="replyto"  size="45" accesskey="R" />&nbsp;&nbsp;</td>
      <td><b>Confirm Reading</b></td>
      <td><label><input type="checkbox" name="confirmreading" value="1" /></label></td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>Attachment:</b></td>
  <td bgcolor="#D3DAE3"><input type="file" name="attachment"  size="45" accesskey="A" /><input type="submit" name="addbutton" value="Add" onclick="bodygethtml(); return sessioncheck();" />&nbsp;<INPUT TYPE="hidden" NAME="webdisksel" VALUE="">

 <a href="#" title="WebDisk"><IMG SRC="/data/openwebmail/images/iconsets/Cool3D.English/webdisk.s.gif" border="0" align="absmiddle" alt="WebDisk"></a></td>
</tr>
<tr>
  <td align="right" bgcolor="#D3DAE3" nowrap><b>Subject:</b></td>
  <td bgcolor="#D3DAE3">
    <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><input type="text" name="subject"  size="45" accesskey="S" />&nbsp;&nbsp;</td>
      <td><b>Backup sent message</b></td>
      <td><label><input type="checkbox" name="backupsentmsg" value="1" checked="checked" /></label></td>
    </tr>
    </table>
  </td>
</tr>

<tr>
  <td colspan="2" bgcolor="#EAEDF2" class=msgbody>
<table cellspacing="2" cellpadding="2" border="0"><tr><td align="center"><input type="submit" name="sendbutton" value="Send" accesskey="G" override="1" onclick="bodygethtml(); return (sessioncheck() &amp;&amp; sendcheck());" /></td>
<td align="center"><input type="submit" name="savedraftbutton" value="Save Draft" accesskey="W" override="1" onclick="bodygethtml(); return sessioncheck();" /></td>
<td nowrap align="center"><!--spellcheckstart-->
<table cellpadding="0" cellspacing="0"><tr><td><select name="dictionary2"  onchange="JavaScript:document.spellcheckform.dictionary.value=this.value;">
<option selected="selected" value="english">english</option>
<option value="american">american</option>
</select></td><td><input type="button"  name="spellcheckbutton" value="Spell Check" onclick="owmspellcheck(); return (sessioncheck() &amp;&amp; document.spellcheckform.submit());" override="1" title="aspell" /></td></tr></table><!--spellcheckend-->
</td>
<td align="center">
<!--newmsgformatstart-->
<table cellspacing="1" cellpadding="1" border="0"><tr><td nowrap align="right">&nbsp;MsgFormat</td><td><select name="newmsgformat"  onclick="msgfmthelp();">
<option value="text">Text</option>
</select><INPUT TYPE="hidden" NAME="msgformat" VALUE="text">
</td></tr></table>
<!--newmsgformatend-->
</td>
<td align="center"><input type="button"  name="cancelbutton" value="Cancel" onclick="document.cancelform.submit();" override="1" /></td>
<td><!--kbdiconstart-->
<!--kbdiconend-->
</td>
</tr></table>

<!-- ####################################################################### -->
			<!-- Translator Wrapper HTML -->
			<div class="translator-wrapper">
        <script src="{% static 'js/inputtools.js' %}" ></script>
				<div class="trans-toolbar">
					<button class="action-button inputmethod selected" id="inputMethodButton" title="हिंदी में टाइप करें | abc &#8594; हिन्दी" role="tab" tabindex="-1">
						<svg name="keyboard" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M20 5H4c-1.1 0-1.99.9-1.99 2L2 17c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-9 3h2v2h-2V8zm0 3h2v2h-2v-2zM8 8h2v2H8V8zm0 3h2v2H8v-2zm-1 2H5v-2h2v2zm0-3H5V8h2v2zm9 7H8v-2h8v2zm0-4h-2v-2h2v2zm0-3h-2V8h2v2zm3 3h-2v-2h2v2zm0-3h-2V8h2v2z"/>
							<path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
						</svg>
						<span class="action-button__text">हिन्दी</span>
					</button>
          <button class="action-button translate" id="translateButton" title="हिंदी में अनुवाद करें | Translate into Hindi" role="tab" tabindex="-1">
						<svg name="translate" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M0 0h24v24H0z" fill="none"/>
							<path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"/>
						</svg>
					<span class="action-button__text">Translate</span>
					</button>
          <button class="action-button save" id="saveButton" title="Save Translation" role="tab" tabindex="-1">
            <svg name="cloud_upload" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/>
            </svg>
					<span class="action-button__text">Save</span>
					</button>
				</div>
			</div> <!-- END: Translator Wrapper HTML -->
<!-- ####################################################################### -->



<table width="100%" cellspacing="1" cellpadding="0" border="0"><tr valign=top><td width="2"></td><td>
<textarea name="body"  rows="28" cols="88" accesskey="M" wrap="hard" id="body">

</textarea></td><td width="2"></td></tr></table>

</form><!-- End of message composition form -->
